.App {
  text-align: center;
}

.tag-input {
  text-align: center;
  font-size: 30px;
  width: 45%;
  padding: 12px 12px;
  margin: 6px 0;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: lightgray;
  outline: none;
}