#app {
  text-align: center;
}

#tag-input {
  text-align: center;
  font-size: 30px;
  width: 45%;
  padding: 12px 12px;
  margin: 6px 0;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: lightgray;
  outline: none;
}

#player-summary {
  display: none;
  color: lightgrey;
  font-family: sans-serif;
}

#player-banner {
  background-color: rgb(20, 35, 75);
  width: 95%;
  
  border-radius: 30px;
  display: inline-block;
  
  margin: 10px;
  padding: 10px;
  line-height: 150px;

  img {
    display: inline;
    width: 12.5%;
    margin: 20px;
  }

  h1 {
    display: inline;
    font-size: 80px;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
  }
}

#win-rate {
  background-color: rgb(20, 35, 75);
  font-size: 50px;
  width: 44.5%;
  border-radius: 30px;
  margin: 15px;
  padding: 10px;
  float: left;

  hr {
    border: 5px solid;
    border-radius: 10px;
  }
}

#name-card {
  background-color: rgb(20, 35, 75);
  font-size: 50px;
  width: 44.5%;
  border-radius: 30px;
  margin: 15px;
  padding: 10px;
  float: right;
  
  img {
    width: 90%;
  }
}

#icon {
  float: left;
}

#endorsement {
  float: right;
}